{:linters
 {:unresolved-symbol   {:exclude [(io.pedestal.interceptor.error/error-dispatch)]}
  :unused-referred-var {:exclude {com.stuartsierra.component.repl         [start stop reset]
                                  com.stuartsierra.component.user-helpers [dev go reset]}}
  :unused-namespace    {:exclude [com.stuartsierra.component.user-helpers]}}

 :output
 {:exclude-files ["resources/data_readers.clj"
                  "src/common_clj/components/consumer/*"
                  "src/common_clj/components/counter/*"
                  "src/common_clj/components/docstore_client/*"
                  "src/common_clj/components/logger/*"
                  "src/common_clj/components/producer/*"
                  "test/common_clj/components/consumer/*"
                  "test/common_clj/components/counter/*"
                  "test/common_clj/components/docstore_client/*"
                  "test/common_clj/components/logger/*"
                  "test/common_clj/components/producer/*"]}}
